//
//  Production.xcconfig
//
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Server URL
BASE_URL = https:/$()/api.url/ // set your api url
API_VERSION = /api/v1/

// Server Settings
TIMEOUT_INTERVAL = 5

// App Settings
APP_NAME = app-name-prod
APP_BUNDLE_ID = com.testApp // set your bundle name
